*{
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}
html,body{
	height:100%;
}
body:not(.sidebar li){
	font-family: calibri;
}
body{
	background-color: #444444;
}
.sidebar{
	margin-left:0px;
	width: 300px;
	padding-top:2%;
	background-color: #282828;
	position: fixed;
	height: 100%;
	box-shadow: 3px 0px 10px #111111;
}
.sidebar img{
	margin-left: 20px;
	margin-right: auto;
	padding: 16px;
}
.sidebar li{
	font-family: courier new;
	display: block;
	padding: 16px;
	font-size: 160%;
	text-decoration: none;
}
.sidebar a{
	color: white;
	text-decoration: none;
	transition: 0.15s ease;
}
.sidebar a:hover, header a:hover{
	/* text-decoration: underline; */
	color: #dd4a4a;
}
#menu-social{
	padding-left: 0px;
}
#menu-social img{
	width:0.9vw;
	height:0.9vw;
	margin-right:6px;
}
.social-buttons li{
	display: inline;
	padding-right: 17px;
}
header{
	background-color: #282828;
	padding-left: calc(10% + 300px);
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: 0px 4px 10px #222222;
}
header h1{
	font-size:2vw;
	padding-bottom:0.5%;
}
header a{
	vertical-align: middle;
	color: white;
	text-decoration: none;
	transition:0.15s ease;
}
header li{
	font-size: 1.2vw;
}
#main-page-media iframe{
	display:block;
	border:none;
	aspect-ratio: 16 / 9;
	width:100%;
	/* height:40vw; */
}
#main-page-media{
	position:relative;
	height:auto;
}
#overlay{
	position: absolute;
	background: rgba(90, 27, 18, 0.6);
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	transition: .7s ease;
	opacity: 1;
	font-size:5vw;
}
#overlay p{
	text-align: center;
	padding-top:25%;
	transition: .7s ease;
}
#main-page-media:hover #overlay {
	opacity: 0;
}
#main-page-media:hover #overlay p{
	padding-top:40%;
}
#page:not(.emphasis, .content, .content h2, #project-thumbnails *, #projects *){
	color: black;
	background-size: length;
	background-color: white;
	margin-left: calc(10% + 300px);
	margin-right: 10%;
	display: flex;
	flex-flow: column;
	height: 100%;
}
.content{
	color: black;
	/* background-size: length; */
	background-color: white;
	/* display: flex; */
	flex-flow: column;
	/* height: 100%; */
}
.content p:not(.summary *), .content ul{
	padding-bottom:5%;
}
#projects h2{
	text-align:center;
	font-size: 3vw;
	text-decoration:underline;
	padding-bottom:2%;
}
/* #projects{
	max-height:30vw;
} */
@media (min-width:1025px){
#showcase{
	box-sizing:border-box;
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	flex-direction:row-reverse;
	max-height:17vw;
	height:100%;
	.folio-thumbnail{
		display:flex;
		position:relative;
		flex: 1 1 25%;
		max-width:calc(100vw/4);
		overflow: hidden;
		transition:flex-basis 0.7s ease-in-out;
	}
	.folio-thumbnail:hover{
		flex-basis:50%;
		.folio-overlay{
			background: rgba(90, 27, 18, 0);
			padding-top:6.7em;
			text-decoration:underline;
		}
	}
	img{
		display:block;
		object-fit:cover;
		/* max-height:2%; */
	}
}
}
/* #showcase:hover + .summary{
	padding-top:2%;
	padding-bottom:2%;
} */
#aquaimg:hover \ #summary1{
	display:inline;
}
.summary{
	width:auto;
	color:white;
	padding-left:4%;
	font-size: 1.1vw;
	background:rgba(0, 0, 0, 0.9);
	transition:0.3s ease-in-out;
}
.summary *{
	display:none;
}
.folio-overlay{
	box-sizing:border-box;
	position:absolute;
	text-align:center;
	font-size:2vw;
/* 	padding-top:20%;
	padding-left:50%;
	padding-right:50%; */
	padding-top:4.5em;
	background: rgba(90, 27, 18, 0.6);
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	transition: .2s ease;
	opacity: 1;
}

.content:not(#intro, #face-container, #face-overlay, #projects, #showcase){
	padding-right: 10%;
	padding-left: 10%;
	font-size: 1.1vw;
}
.content h2:not(#projects *){
	text-align:center;
	font-size: 3vw;
	text-decoration:underline;
	padding-bottom:12%;
}
.emphasis{
	font-weight:bold;
	color: #dd4a4a;
	background:none;
}
#intro{
	background-size: length;
	background-color: white;
	/* display: flex; */
	/* flex-flow: column; */
	padding: 20%;
	padding-bottom:10%;
	padding-top:10%;
	font-size: 1.4vw;
}
#about-me{
	padding-top:7%;
	padding-bottom:7%;
	padding-right:0%;
}
#biographic{
	width:55%;
	float:left;
	display:block;
}
#face-container{
	position:relative;
	margin-right:3%;
	width:40%;
	height:auto;
	float:left;
}
#face-container img{
	/* filter: saturate(0%); */
	display:flex;
	width:100%;
	height:100%;
}
#face-overlay{
	bottom:0;
	position: absolute;
	background: rgba(10, 10, 10, 0.4);
	width:100%;
	height:auto;
	transition: .7s ease;
	opacity: 0;
	text-align:center;
	color:white;
	font-size:auto;
	padding-top:3%;
	padding-bottom:3%;
}
#face-container:hover #face-overlay{
	opacity: 1;
}
.contactform{
	padding-bottom:3%;
}
/* Mobile settings */
@media (max-width:1024px){
	header{
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: 0px 4px 10px #222222;
	}
	header h1{
	font-size:7vw;
	padding-bottom:1%;
	}
	header li{
	font-size: 5vw;
	}
	#menu-social img{
	width:4vw;
	height:4vw;
	margin-right:6px;
	}
	.sidebar {
	visibility:hidden;
	}
	#overlay{
		font-size:12vw;
	}
	#page:not(.emphasis, .content, .content h2, #project-thumbnails *, #projects *){
		margin-left:3%;
		margin-right:3%;
	}
	#intro{
		font-size:5.5vw;
		padding:13.2%;
	}
	.content h2:not(#projects *){
	font-size: 12vw;
	}
	.content:not(#intro, #face-container, #face-overlay, #projects, #showcase){
	font-size: 5vw;
	}
	#about-me{
		display:flex;
		margin-left:auto;
		margin-right:auto;
		padding-top:0;
		padding-bottom:0;
		#biographic{
			margin:0;
			width:100%;
			padding-top:5%;
		}
		#face-container{
			width:60%;
			margin:auto;
		}
	}
	#showcase{
	display: -moz-flex;
	display: -webkit-flex;
	display:inline-flex;
	width:100%;
	flex-flow:column;
	/* object-fit:contain; */
	/* width:inherit; */
	flex-direction:column-reverse;
	/* max-height:17vw; */
	height:280vw;
	.folio-thumbnail{
		position:relative;
		max-height:25%;
		max-width:inherit;
		overflow: hidden;
	}
	.folio-overlay{
		/* margin-top:60%; */
		bottom:0;
		/* margin-right:40%; */
		text-align:center;
		height:16%;
		width:35%;
		padding:2%;
		/* padding-top:2%; */
		font-size:5vw;
		background: rgba(80, 17, 8, 0.8);
	}
	img{
		display:block;
		object-fit:contain;
		max-height:100%;
		max-width:inherit;
		/* object-fit:cover; */
		/* max-height:2%; */
	}
}
}